

.menu nav {
    display: flex;
    height: 100%;
    margin-top: 1%;
    padding: 0.75%;
    background-color: rgba(39, 38, 38, .8);
    justify-content: flex-end;
    align-items: center;
    font-size: 1.25em;
         
}
nav a {
     margin-left: 2%;
     margin-right: 2%;
     color: #f1f2f2;
 }

body {
    background-image: url(./hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: "Open Sans", sans-serif;
    margin: 0px;
  }

.homepagespace {
    min-height: 100vmin;
}


/*.menu h1 {
    display: flex;
    background-color: rgba(143, 143, 143, .8);
    font-size: 2em;
    color: rgb(39, 38, 38);
    justify-content: center;
    align-items: center;
    margin-top: 0.5%;
    margin-bottom: 5%;
    height: 100%;
    padding: 0.75%;
    box-shadow: 10px 5px 5px rgb(39, 38, 38);
    }
*/
h2 {
    margin-left: 5%;
    margin-top: 1.75%;
    margin-bottom: 0.05%;
        }

main {
    margin: 20px;
    }

.container {
    display: flex;
    flex-direction: column;
    }

/*img {
    max-width: 15%;
    margin: 2%;
   }*/


.interests {
       
          flex-direction: column;
          max-width: 25%;
          background-color: rgba(143, 143, 143, 0.8);
          border: 2px solid rgb(39, 37, 37);
          border-radius: 25px;
          box-shadow: 10px 10px 10px rgb(82, 81, 81);
          margin-bottom: 5%;
}
.interests > a > img {
    max-width: 60%;
    margin: 5%;
    padding-left: 12%;
   }
 
 .books { 
           flex-direction: column;
           max-width: 25%;
           background-color: rgba(143, 143, 143, 0.8);
           border: 2px solid rgb(39,37,37);
           border-radius: 25px;
           box-shadow: 10px 10px 10px rgb(82, 81, 81);
           margin-bottom: 5%;
 }

 .books > a > img {
    max-width: 50%;
    margin-top: 15%;
    margin-left: 2.5%;
    margin-right: 2.5;
    padding-left: 17.5%;
 }


 .tvshows {
           flex-direction: column; 
           width: 25%;
           background-color: rgba(143, 143, 143, 0.8);
           border: 2px solid rgb(39,37,37);
           border-radius: 25px;
           box-shadow: 10px 10px 10px rgb(82, 81, 81);
           margin-bottom: 5%;
 }
.tvshows > a > img {
    margin-top: 15%;
    margin-left: 2.5%;
    margin-right: 2.5;
    padding-left: 17.5%;;
}
.sites {
            flex-direction: column;  
            width: 25%;
            background-color: rgba(143, 143, 143, 0.8);
            border: 2px solid rgb(39, 37, 37);
            border-radius: 25px;
            box-shadow: 10px 10px 10px rgb(82, 81, 81);
            margin-bottom: 5%;
  }

.sites > a > img {
    max-width: 60%;
    margin: 15%;
    padding-left: 5%;
}            
 
 
    
 footer {
    display: flex;
    height: 150%;
    width: 100%;
    background-color: rgba(39, 38, 38, .8);
    justify-content: center;
    align-items: center;
    font-size: 1em;
    padding: 2%;
    color: rgb(220, 218, 218);
    border-radius: 15px 0px;
    }